<html>
    <body>
        <h1>Add a quote...</h1>
        <form action="/login" method="POST">
            <table>
                <tr>
                    <td>
                        <label for="user">Username</label>
                    </td>
                    <td>
                        <input type="text" id="user" name="user" />
                    </td>
                </tr>
            </table>
            <button type="submit">Login</button>
            <br>
            <a href="/">Cancel</a>
        </form>
    </body>
</html>